In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-15 00:38:03,-23.1203,-134.9692,73.49,68,0,8.10
1,1,Zhigansk,RU,2021-07-15 00:42:40,66.7697,123.3711,55.06,41,5,12.06
2,2,Vardo,NO,2021-07-15 00:42:40,70.3705,31.1107,49.53,91,100,1.19
3,3,Tiksi,RU,2021-07-15 00:42:40,71.6872,128.8694,42.84,67,95,19.10
4,4,Albany,US,2021-07-15 00:42:41,42.6001,-73.9662,74.14,94,0,3.29

In [3]:
# Check the data types. Data needs to be integer or float for gmaps
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create Heatmaps

In [4]:
# Configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [5]:
## HEAT MAP LAYOUT
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
#fig

In [9]:
# Heatmap of temperature

# Get the Latitude and Longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature. Create for loop to add temps greater an 0 to the list
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, max_intensity=300, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity

# Get the Latitude and Longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature. Create for loop to add temps greater an 0 to the list
humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                dissipating=False, max_intensity=300, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness

# Get the Latitude and Longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature. Create for loop to add temps greater an 0 to the list
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                dissipating=False, max_intensity=300, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed

# Get the Latitude and Longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature. Create for loop to add temps greater an 0 to the list
wind = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                dissipating=False, max_intensity=300, point_radius=3)

# Add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Find Cities with Preferred Temperature Parameters

In [19]:
# Ask customer to add min and max temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?80
What is the maximum temperature you would like for your trip?90

In [20]:
# Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Tual,ID,2021-07-15 00:42:42,-5.6667,132.7500,80.47,84,100,17.27
24,24,Hithadhoo,MV,2021-07-15 00:42:45,-0.6000,73.0833,82.02,77,73,9.60
28,28,Lakatoro,VU,2021-07-15 00:42:46,-16.0999,167.4164,81.27,75,100,17.94
29,29,Alyangula,AU,2021-07-15 00:42:47,-13.8483,136.4192,82.27,69,66,12.66
31,31,Carman,CA,2021-07-15 00:42:47,49.4992,-98.0016,80.64,54,83,2.17
37,37,Ucluelet,CA,2021-07-15 00:38:18,48.9329,-125.5528,85.05,82,16,1.01
39,39,Kapaa,US,2021-07-15 00:42:49,22.0752,-159.3190,84.18,78,75,1.99
42,42,Gizo,SB,2021-07-15 00:42:49,-8.1030,156.8419,85.21,72,18,11.30
48,48,Elat,IL,2021-07-15 00:42:51,29.5581,34.9482,84.04,48,0,12.66
61,61,Butaritari,KI,2021-07-15 00:42:54,3.0707,172.7902,83.17,78,22,14.18

In [21]:
# Check for null values
#preferred_cities_df.isnull().sum()

# OR
preferred_cities_df.count()

City_ID       121
City          121
Country       121
Date          121
Lat           121
Lng           121
Max Temp      121
Humidity      121
Cloudiness    121
Wind Speed    121
dtype: int64

### Find Hotels

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
8         Tual      ID     80.47  -5.6667  132.7500
24   Hithadhoo      MV     82.02  -0.6000   73.0833
28    Lakatoro      VU     81.27 -16.0999  167.4164
29   Alyangula      AU     82.27 -13.8483  136.4192
31      Carman      CA     80.64  49.4992  -98.0016
37    Ucluelet      CA     85.05  48.9329 -125.5528
39       Kapaa      US     84.18  22.0752 -159.3190
42        Gizo      SB     85.21  -8.1030  156.8419
48        Elat      IL     84.04  29.5581   34.9482
61  Butaritari      KI     83.17   3.0707  172.7902

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Tual,ID,80.47,-5.6667,132.7500,Grand Vilia Hotel
24,Hithadhoo,MV,82.02,-0.6000,73.0833,Scoop Guest House
28,Lakatoro,VU,81.27,-16.0999,167.4164,Lakatoro Palm Lodge
29,Alyangula,AU,82.27,-13.8483,136.4192,Groote Eylandt Lodge
31,Carman,CA,80.64,49.4992,-98.0016,"Bell Aura Bed, Breakfast & Bistro"
37,Ucluelet,CA,85.05,48.9329,-125.5528,Black Rock Oceanfront Resort
39,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
42,Gizo,SB,85.21,-8.1030,156.8419,Imagination Island
48,Elat,IL,84.04,29.5581,34.9482,Club Hotel Eilat
61,Butaritari,KI,83.17,3.0707,172.7902,Isles Sunset Lodge

In [42]:
hotel_df.count()

City          121
Country       121
Max Temp      121
Lat           121
Lng           121
Hotel Name    121
dtype: int64

### Create Heatmap from Hotel DataFrame

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))