## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Marovoay,MG,-16.1000,46.6333,69.94,65,22,3.44,few clouds
1,1,Hermanus,ZA,-34.4187,19.2345,54.90,76,1,6.60,clear sky
2,2,Cape Town,ZA,-33.9258,18.4232,55.11,99,0,4.61,mist
3,3,Chapais,CA,49.7834,-74.8492,71.38,42,81,8.05,broken clouds
4,4,Talgar,KZ,43.3027,77.2395,62.76,77,90,4.47,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Alofi,NU,-19.0595,-169.9187,78.69,83,18,17.27,few clouds
7,7,Kindu,CD,-2.9500,25.9500,79.63,43,93,2.30,overcast clouds
14,14,Georgetown,MY,5.4112,100.3354,80.89,75,20,3.00,few clouds
16,16,Benjamin Hill,MX,30.1667,-111.1000,89.28,45,75,9.13,broken clouds
19,19,Butaritari,KI,3.0707,172.7902,83.97,77,71,18.72,light rain
20,20,Los Banos,PH,14.1667,121.1833,79.57,90,98,1.21,overcast clouds
21,21,Albany,US,42.6001,-73.9662,84.45,60,78,8.95,broken clouds
26,26,Hami,CN,42.8000,93.4500,85.64,19,0,4.94,clear sky
27,27,San Policarpo,PH,12.1791,125.5072,77.99,88,100,5.30,overcast clouds
28,28,Kapaa,US,22.0752,-159.3190,84.18,78,89,3.00,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                210
City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Alofi,NU,78.69,few clouds,-19.0595,-169.9187,
7,Kindu,CD,79.63,overcast clouds,-2.9500,25.9500,
14,Georgetown,MY,80.89,few clouds,5.4112,100.3354,
16,Benjamin Hill,MX,89.28,broken clouds,30.1667,-111.1000,
19,Butaritari,KI,83.97,light rain,3.0707,172.7902,
20,Los Banos,PH,79.57,overcast clouds,14.1667,121.1833,
21,Albany,US,84.45,broken clouds,42.6001,-73.9662,
26,Hami,CN,85.64,clear sky,42.8000,93.4500,
27,San Policarpo,PH,77.99,overcast clouds,12.1791,125.5072,
28,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Alofi,NU,78.69,few clouds,-19.0595,-169.9187,Taloa Heights
7,Kindu,CD,79.63,overcast clouds,-2.9500,25.9500,Résidence Okanda
14,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
16,Benjamin Hill,MX,89.28,broken clouds,30.1667,-111.1000,Hotel Benjamín Hill
19,Butaritari,KI,83.97,light rain,3.0707,172.7902,Isles Sunset Lodge
20,Los Banos,PH,79.57,overcast clouds,14.1667,121.1833,Sol Y Viento Mountain Hot Springs and Resort
21,Albany,US,84.45,broken clouds,42.6001,-73.9662,
26,Hami,CN,85.64,clear sky,42.8000,93.4500,Laoyutang Resort
27,San Policarpo,PH,77.99,overcast clouds,12.1791,125.5072,JM Lodge
28,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [34]:
# Found empty strings in DataFrame
hotel_df[hotel_df['Hotel Name'] == ''].index

# Convert strings to nan value
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
# Drop nan value
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Alofi,NU,78.69,few clouds,-19.0595,-169.9187,Taloa Heights
7,Kindu,CD,79.63,overcast clouds,-2.9500,25.9500,Résidence Okanda
14,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
16,Benjamin Hill,MX,89.28,broken clouds,30.1667,-111.1000,Hotel Benjamín Hill
19,Butaritari,KI,83.97,light rain,3.0707,172.7902,Isles Sunset Lodge
20,Los Banos,PH,79.57,overcast clouds,14.1667,121.1833,Sol Y Viento Mountain Hot Springs and Resort
26,Hami,CN,85.64,clear sky,42.8000,93.4500,Laoyutang Resort
27,San Policarpo,PH,77.99,overcast clouds,12.1791,125.5072,JM Lodge
28,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Portland,US,80.38,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

In [43]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))